<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tang.mapper.OrderMapper">
    <resultMap id="BaseResult" type="com.tang.model.Order">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
        <result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
        <result column="order_amount" property="orderAmount" jdbcType="VARCHAR" />
        <result column="paid_amount" property="paidAmount" jdbcType="VARCHAR" />
        <result column="product_id" property="productId" jdbcType="VARCHAR" />
        <result column="buy_counts" property="buyCounts" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="paid_time" property="paidTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <insert id="save" parameterType="com.tang.model.Order" keyProperty="id" useGeneratedKeys="true">
        insert into order(null,order_num,order_status,order_amount,paid_amount,product_id,buy_counts,create_time)
            values(null,#{orderNum},#{orderStatus},#{orderAmount},#{paidAmount},#{productId},#{buyCounts},#{createTime})
    </insert>
    <select id="getOrderById" parameterType="java.lang.Integer" resultType="com.tang.model.Order">
        select * from order where id=#{orderId}
    </select>
</mapper>